Dados de qualidade do ar:
https://archive.ics.uci.edu/dataset/360/air+quality

In [1]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd
  
# fetch dataset 
air_quality = fetch_ucirepo(id=360) 
  
# data (as pandas dataframes) 
df = air_quality.data.features
print(df.head(10))

        Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0  3/10/2004  18:00:00     2.6         1360       150      11.9
1  3/10/2004  19:00:00     2.0         1292       112       9.4
2  3/10/2004  20:00:00     2.2         1402        88       9.0
3  3/10/2004  21:00:00     2.2         1376        80       9.2
4  3/10/2004  22:00:00     1.6         1272        51       6.5
5  3/10/2004  23:00:00     1.2         1197        38       4.7
6  3/11/2004   0:00:00     1.2         1185        31       3.6
7  3/11/2004   1:00:00     1.0         1136        31       3.3
8  3/11/2004   2:00:00     0.9         1094        24       2.3
9  3/11/2004   3:00:00     0.6         1010        19       1.7

   PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)  \
0           1046      166          1056      113          1692         1268
1            955      103          1174       92          1559          972
2            939      131          1140      114          1555         1074
3            948      172          1092      122          1584         1203
4            836      131          1205      116          1490         1110
5            750       89          1337       96          1393          949
6            690       62          1462       77          1333          733
7            672       62          1453       76          1333          730
8            609       45          1579       60          1276          620
9            561     -200          1705     -200          1235          501

      T    RH      AH
0  13.6  48.9  0.7578
1  13.3  47.7  0.7255
2  11.9  54.0  0.7502
3  11.0  60.0  0.7867
4  11.2  59.6  0.7888
5  11.2  59.2  0.7848
6  11.3  56.8  0.7603
7  10.7  60.0  0.7702
8  10.7  59.7  0.7648
9  10.3  60.2  0.7517

É possível verificar que existem diversos dados negativos que não fazem sentido, visto que não existem valores de concentração negativos. Desta forma removeu-se todas as linhas que possuem valores negativos

In [2]:
df_nan=df
cols = df_nan.columns[2:15]
df_nan[cols] = df_nan[cols].mask(df[cols] == -200)
df_remove = df_nan.dropna()
print(df_remove.head(10))

         Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0   3/10/2004  18:00:00     2.6       1360.0     150.0      11.9
1   3/10/2004  19:00:00     2.0       1292.0     112.0       9.4
2   3/10/2004  20:00:00     2.2       1402.0      88.0       9.0
3   3/10/2004  21:00:00     2.2       1376.0      80.0       9.2
4   3/10/2004  22:00:00     1.6       1272.0      51.0       6.5
5   3/10/2004  23:00:00     1.2       1197.0      38.0       4.7
6   3/11/2004   0:00:00     1.2       1185.0      31.0       3.6
7   3/11/2004   1:00:00     1.0       1136.0      31.0       3.3
8   3/11/2004   2:00:00     0.9       1094.0      24.0       2.3
11  3/11/2004   5:00:00     0.7       1066.0       8.0       1.1

    PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)  \
0          1046.0    166.0        1056.0    113.0        1692.0       1268.0
1           955.0    103.0        1174.0     92.0        1559.0        972.0
2           939.0    131.0        1140.0    114.0        1555.0       1074.0
3           948.0    172.0        1092.0    122.0        1584.0       1203.0
4           836.0    131.0        1205.0    116.0        1490.0       1110.0
5           750.0     89.0        1337.0     96.0        1393.0        949.0
6           690.0     62.0        1462.0     77.0        1333.0        733.0
7           672.0     62.0        1453.0     76.0        1333.0        730.0
8           609.0     45.0        1579.0     60.0        1276.0        620.0
11          512.0     16.0        1918.0     28.0        1182.0        422.0

       T    RH      AH
0   13.6  48.9  0.7578
1   13.3  47.7  0.7255
2   11.9  54.0  0.7502
3   11.0  60.0  0.7867
4   11.2  59.6  0.7888
5   11.2  59.2  0.7848
6   11.3  56.8  0.7603
7   10.7  60.0  0.7702
8   10.7  59.7  0.7648
11  11.0  56.2  0.7366

Verificou-se quantas linhas foram removidas durante o processo

In [3]:
print("Número de linhas antes de remover os números negativos:", df.shape[0])
print("Número de linhas depois de remover os números negativos:", df_remove.shape[0])

Número de linhas antes de remover os números negativos: 9357
Número de linhas depois de remover os números negativos: 827

Como o número de linhas removidas representa uma perda maior de 90% do banco de dados, não é possível tratar os dados desta forma. Portanto subsituiu-se os valores negativos pela média dos valores de cada coluna

In [4]:
import numpy as np
# convertemos para o formato Numpy e ignoramos a última coluna (classe)
X = np.array(df_nan[df_nan.columns[2:df_nan.shape[1]-1]], dtype = float) 
# calculamos a média de cada atributo e armazenamos em um vetor
# Usamos a função nanmean que calcula a média ignorando os Nan
averages = np.nanmean(X, axis = 0)
for i in np.arange(0, X.shape[0]):
    for j in np.arange(0, X.shape[1]):
        if(np.isnan(X[i,j]) == True): # verificar se é uma entrada com Nan
            X[i,j] = averages[j] # insere a média
print(X)

[[   2.6        1360.          150.         ... 1268.
    13.6          48.9       ]
 [   2.         1292.          112.         ...  972.
    13.3          47.7       ]
 [   2.2        1402.           88.         ... 1074.
    11.9          54.        ]
 ...
 [   2.4        1142.          218.81181619 ... 1092.
    26.9          18.3       ]
 [   2.1        1003.          218.81181619 ...  770.
    28.3          13.5       ]
 [   2.2        1071.          218.81181619 ...  816.
    28.5          13.1       ]]

plotar os gráficos - transformar eles em timestamp para facilitar
np.linspace(start,end,quantidade) - devolve um vetor em array para numerar de forma fácil
verificar onde tem nan e interpolar entre o time antes e depois para substituir um valor mais plausível